body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.navbar a, .navbar button {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar button.hire-me {
    background-color: #4CAF50;
    border-radius: 5px;
}

.logo {
    font-size: 24px;
    color: #0f0;
}

section {
    padding: 20px;
    border-bottom: 1px solid #444;
}

.buttons button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #777;
}

.hidden {
    display: none;
}

.info {
    padding: 20px;
    margin-top: 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-details {
    margin-top: 20px;
}

.about-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.about-row strong {
    margin-right: 10px;
}

a {
    color: #4CAF50; /* Color for links to match the button color */
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}
