/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #121212;
    color: white;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a, .navbar button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar button.hire-me {
    background-color: #4CAF50;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 20px;
    border-top: 1px solid #444;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

/* About Me Section */
.about-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #121212;
}

.why-hire-me, .about-details {
    flex: 1;
    margin-right: 20px;
}

.why-hire-me h1, .about-details h1 {
    color: #fff;
}

.buttons {
    margin-top: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

button.about-me-button {
    background-color: #4CAF50;
    border-radius: 5px;
    margin-top: 20px;
}

.about-details ul {
    list-style: none;
    padding: 0;
}

.about-details li {
    padding: 5px 0;
}

.about-details a {
    color: #4CAF50;
    text-decoration: none;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

@media (max-width: 600px) {
    .navbar, .about-container {
        flex-direction: column;
    }
    .why-hire-me, .about-details {
        margin-right: 0;
    }
}
